<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NIOSGenius"
        tools:targetApi="31">
        <activity
            android:name=".Categories.Categories_hindi_english"
            android:exported="false" />
        <activity
            android:name=".ViewPdf"
            android:exported="false" />
        <activity
            android:name=".study_material"
            android:exported="false" />
        <activity
            android:name=".subject_twelth.twelth_pyq_subject"
            android:exported="false" />
        <activity
            android:name=".subject_twelth.twelth_worksheet_subject"
            android:exported="false" />
        <activity
            android:name=".subject_twelth.twelth_guid_subject"
            android:exported="false" />
        <activity
            android:name=".subject_twelth.twelth_urdu_medium_subject"
            android:exported="false" />
        <activity
            android:name=".subject_twelth.twelth_hindi_subject"
            android:exported="false" />
        <activity
            android:name=".subject_twelth.twelth_english_medium_subject"
            android:exported="false" />
        <activity
            android:name=".subject.tenth_pyq_subject"
            android:exported="false" />
        <activity
            android:name=".subject.tenth_worksheet_subject"
            android:exported="false" />
        <activity
            android:name=".subject.tenth_guide_subject"
            android:exported="false" />
        <activity
            android:name=".subject.tenth_urdu_medium_subject"
            android:exported="false" />
        <activity
            android:name=".subject.tenth_hindi_medium_subject"
            android:exported="false" />
        <activity
            android:name=".subject.tenth_english_medium_subject"
            android:exported="false" />
        <activity
            android:name=".Categories.twelthcategories"
            android:exported="false" />
        <activity
            android:name=".Categories.tenth_categories"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1621842572433739~4336542663" />
    </application>

</manifest>